# Extracting date and time

In [1]:
import pandas as pd
air_quality = pd.read_csv('air_quality.csv')

In [2]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95685 entries, 0 to 95684
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  95685 non-null  object
 1   PM2.5      95685 non-null  float64
 2   PM10       95685 non-null  float64
 3   SO2        95685 non-null  float64
 4   NO2        95685 non-null  float64
 5   CO         95685 non-null  float64
 6   O3         95685 non-null  float64
 7   TEMP       95685 non-null  float64
 8   PRES       95685 non-null  float64
 9   DEWP       95685 non-null  float64
 10  RAIN       95685 non-null  float64
 11  wd         95685 non-null  object
 12  WSPM       95685 non-null  float64
 13  station    95685 non-null  object
dtypes: float64(11), object(3)
memory usage: 10.2+ MB

In [3]:
air_quality.head()

,date_time,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2013-03-01 00:00:00,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2013-03-01 01:00:00,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,2013-03-01 05:00:00,4.0,4.0,9.0,25.0,300.0,78.0,-2.4,1027.5,-21.3,0.0,NW,2.4,Dongsi
3,2013-03-01 06:00:00,5.0,5.0,10.0,29.0,400.0,67.0,-2.5,1028.2,-20.4,0.0,NW,2.2,Dongsi
4,2013-03-01 07:00:00,3.0,6.0,12.0,40.0,400.0,52.0,-1.4,1029.5,-20.4,0.0,NNW,3.0,Dongsi

In [ ]:
# air_quality['date_time'].dt.year # AttributeError: Can only use .dt accessor with datetimelike values

In [4]:
pd.to_datetime(air_quality['date_time'])

In [5]:
air_quality['date_time'] = pd.to_datetime(air_quality['date_time'])

In [6]:
air_quality.dtypes

In [7]:
air_quality['year'] = air_quality['date_time'].dt.year
air_quality['month'] = air_quality['date_time'].dt.month
air_quality['day'] = air_quality['date_time'].dt.day
air_quality['hour'] = air_quality['date_time'].dt.hour
air_quality['quarter'] = air_quality['date_time'].dt.quarter
air_quality['day_of_week_num'] = air_quality['date_time'].dt.dayofweek
air_quality['day_of_week_name'] = air_quality['date_time'].dt.day_name()

air_quality[['date_time', 'year', 'month', 'day', 'hour', 'quarter', 'day_of_week_num', 'day_of_week_name']]

,date_time,year,month,day,hour,quarter,day_of_week_num,day_of_week_name
0,2013-03-01 00:00:00,2013,3,1,0,1,4,Friday
1,2013-03-01 01:00:00,2013,3,1,1,1,4,Friday
2,2013-03-01 05:00:00,2013,3,1,5,1,4,Friday
3,2013-03-01 06:00:00,2013,3,1,6,1,4,Friday
4,2013-03-01 07:00:00,2013,3,1,7,1,4,Friday
...,...,...,...,...,...,...,...,...
95680,2017-02-28 15:00:00,2017,2,28,15,1,1,Tuesday
95681,2017-02-28 16:00:00,2017,2,28,16,1,1,Tuesday
95682,2017-02-28 21:00:00,2017,2,28,21,1,1,Tuesday
95683,2017-02-28 22:00:00,2017,2,28,22,1,1,Tuesday
95684,2017-02-28 23:00:00,2017,2,28,23,1,1,Tuesday

In [10]:
air_quality[['day_of_week_num', 'day_of_week_name']].value_counts()

In [11]:
air_quality['date_time'].max()

Timestamp('2017-02-28 23:00:00')

In [12]:
air_quality['date_time'].min()

Timestamp('2013-03-01 00:00:00')

In [13]:
air_quality['date_time'].max() - air_quality['date_time'].min()

Timedelta('1460 days 23:00:00')

In [14]:
date_time_range = air_quality['date_time'].max() - air_quality['date_time'].min()

In [15]:
pd.Timedelta(days=1)

Timedelta('1 days 00:00:00')

In [16]:
pd.Timedelta(days=365)

Timedelta('365 days 00:00:00')

In [17]:
date_time_range/pd.Timedelta(days=1)

1460.9583333333333

In [18]:
date_time_range/pd.Timedelta(days=365)

4.002625570776256

In [19]:
1460.9583333333333/365

4.002625570776256

In [20]:
pd.Timestamp('2022/01/01')

Timestamp('2022-01-01 00:00:00')

In [21]:
pd.Timestamp('2022/01/01') - air_quality['date_time']

In [22]:
air_quality['time_until_2022'] = pd.Timestamp('2022/01/01') - air_quality['date_time']

In [23]:
air_quality['time_until_2022']/pd.Timedelta(days=1)

In [24]:
air_quality['time_until_2022_days'] = air_quality['time_until_2022']/pd.Timedelta(days=1)
air_quality['time_until_2022_weeks'] = air_quality['time_until_2022']/pd.Timedelta(weeks=1)

In [25]:
air_quality[['date_time', 'time_until_2022', 'time_until_2022_days', 'time_until_2022_weeks']]

,date_time,time_until_2022,time_until_2022_days,time_until_2022_weeks
0,2013-03-01 00:00:00,3228 days 00:00:00,3228.000000,461.142857
1,2013-03-01 01:00:00,3227 days 23:00:00,3227.958333,461.136905
2,2013-03-01 05:00:00,3227 days 19:00:00,3227.791667,461.113095
3,2013-03-01 06:00:00,3227 days 18:00:00,3227.750000,461.107143
4,2013-03-01 07:00:00,3227 days 17:00:00,3227.708333,461.101190
...,...,...,...,...
95680,2017-02-28 15:00:00,1767 days 09:00:00,1767.375000,252.482143
95681,2017-02-28 16:00:00,1767 days 08:00:00,1767.333333,252.476190
95682,2017-02-28 21:00:00,1767 days 03:00:00,1767.125000,252.446429
95683,2017-02-28 22:00:00,1767 days 02:00:00,1767.083333,252.440476
95684,2017-02-28 23:00:00,1767 days 01:00:00,1767.041667,252.434524

In [26]:
3228/7

461.14285714285717

In [27]:
air_quality['date_time'] < pd.Timestamp('2016/01/01')

In [28]:
air_quality['prior_2016_ind'] = (air_quality['date_time'] < pd.Timestamp('2016/01/01'))

In [29]:
air_quality[['date_time', 'prior_2016_ind']]

,date_time,prior_2016_ind
0,2013-03-01 00:00:00,True
1,2013-03-01 01:00:00,True
2,2013-03-01 05:00:00,True
3,2013-03-01 06:00:00,True
4,2013-03-01 07:00:00,True
...,...,...
95680,2017-02-28 15:00:00,False
95681,2017-02-28 16:00:00,False
95682,2017-02-28 21:00:00,False
95683,2017-02-28 22:00:00,False
95684,2017-02-28 23:00:00,False

In [30]:
air_quality.columns

Index(['date_time', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES',
       'DEWP', 'RAIN', 'wd', 'WSPM', 'station', 'year', 'month', 'day', 'hour',
       'quarter', 'day_of_week_num', 'day_of_week_name', 'time_until_2022',
       'time_until_2022_days', 'time_until_2022_weeks', 'prior_2016_ind'],
      dtype='object')

# Binning

In [31]:
air_quality['PM2.5'].head()

In [ ]:
air_quality['PM2.5'].hist()

In [33]:
pd.cut(air_quality['PM2.5'], bins=10)

In [ ]:
pd.cut(air_quality['PM2.5'], bins=10).value_counts()

(1.181, 83.9]     59923
(83.9, 165.8]     22741
(165.8, 247.7]     8132
(247.7, 329.6]     3225
(329.6, 411.5]     1011
(411.5, 493.4]      384
(493.4, 575.3]      171
(575.3, 657.2]       70
(657.2, 739.1]       22
(739.1, 821.0]        6
Name: PM2.5, dtype: int64

In [ ]:
83.9 - 1.181

82.71900000000001

In [ ]:
247.7 - 165.8

81.89999999999998

In [ ]:
pd.cut(air_quality['PM2.5'], bins=[0, 12, 35.4, 55.4, 150.4, 250.4, 999])

0         (0.0, 12.0]
1         (0.0, 12.0]
2         (0.0, 12.0]
3         (0.0, 12.0]
4         (0.0, 12.0]
             ...
95680     (0.0, 12.0]
95681     (0.0, 12.0]
95682    (12.0, 35.4]
95683    (12.0, 35.4]
95684    (12.0, 35.4]
Name: PM2.5, Length: 95685, dtype: category
Categories (6, interval[float64]): [(0.0, 12.0] < (12.0, 35.4] < (35.4, 55.4] < (55.4, 150.4] < (150.4, 250.4] < (250.4, 999.0]]

In [ ]:
pd.cut(air_quality['PM2.5'],
       bins=[0, 12, 35.4, 55.4, 150.4, 250.4, 999],
       labels=['Good', 
               'Moderate', 
               'Unhealthy for sensitive groups', 
               'Unhealthy',
               'Very unhealthy',
               'Hazardous'])

0            Good
1            Good
2            Good
3            Good
4            Good
           ...
95680        Good
95681        Good
95682    Moderate
95683    Moderate
95684    Moderate
Name: PM2.5, Length: 95685, dtype: category
Categories (6, object): ['Good' < 'Moderate' < 'Unhealthy for sensitive groups' < 'Unhealthy' < 'Very unhealthy' < 'Hazardous']

In [ ]:
air_quality['PM2.5_category'] = pd.cut(air_quality['PM2.5'],
                                       bins=[0, 12, 35.4, 55.4, 150.4, 250.4, 999],
                                       labels=['Good', 
                                               'Moderate', 
                                               'Unhealthy for sensitive groups', 
                                               'Unhealthy',
                                               'Very unhealthy',
                                               'Hazardous'])

In [ ]:
air_quality[['PM2.5', 'PM2.5_category']]

,PM2.5,PM2.5_category
0,9.0,Good
1,4.0,Good
2,4.0,Good
3,5.0,Good
4,3.0,Good
...,...,...
95680,9.0,Good
95681,10.0,Good
95682,18.0,Moderate
95683,15.0,Moderate
95684,15.0,Moderate

       PM2.5 PM2.5_category
0        9.0           Good
1        4.0           Good
2        4.0           Good
3        5.0           Good
4        3.0           Good
...      ...            ...
95680    9.0           Good
95681   10.0           Good
95682   18.0       Moderate
95683   15.0       Moderate
95684   15.0       Moderate

[95685 rows x 2 columns]

In [ ]:
air_quality['PM2.5_category'].value_counts()

Unhealthy                         34257
Moderate                          19853
Good                              13576
Unhealthy for sensitive groups    12457
Very unhealthy                    10821
Hazardous                          4721
Name: PM2.5_category, dtype: int64

In [ ]:
air_quality['PM2.5_category'].value_counts(normalize=True)

Unhealthy                         0.358018
Moderate                          0.207483
Good                              0.141882
Unhealthy for sensitive groups    0.130188
Very unhealthy                    0.113090
Hazardous                         0.049339
Name: PM2.5_category, dtype: float64

In [ ]:
pd.qcut(air_quality['PM2.5'], q=4)

0        (1.999, 23.0]
1        (1.999, 23.0]
2        (1.999, 23.0]
3        (1.999, 23.0]
4        (1.999, 23.0]
             ...
95680    (1.999, 23.0]
95681    (1.999, 23.0]
95682    (1.999, 23.0]
95683    (1.999, 23.0]
95684    (1.999, 23.0]
Name: PM2.5, Length: 95685, dtype: category
Categories (4, interval[float64]): [(1.999, 23.0] < (23.0, 59.0] < (59.0, 116.0] < (116.0, 821.0]]

In [ ]:
pd.qcut(air_quality['PM2.5'], q=4).value_counts(normalize=True)

(1.999, 23.0]     0.258222
(59.0, 116.0]     0.249862
(116.0, 821.0]    0.247113
(23.0, 59.0]      0.244803
Name: PM2.5, dtype: float64

In [ ]:
pd.qcut(air_quality['PM2.5'], q=4).value_counts(normalize=True, sort=False)

(1.999, 23.0]     0.258222
(23.0, 59.0]      0.244803
(59.0, 116.0]     0.249862
(116.0, 821.0]    0.247113
Name: PM2.5, dtype: float64

In [ ]:
air_quality['PM2.5'].describe()

count    95685.000000
mean        83.477884
std         82.678134
min          2.000000
25%         23.000000
50%         59.000000
75%        116.000000
max        821.000000
Name: PM2.5, dtype: float64

In [ ]:
pd.qcut(air_quality['TEMP'], 
        q=5,
        labels=['Very Cold', 'Cold', 'Warm', 'Hot', 'Very Hot'])

0        Very Cold
1        Very Cold
2        Very Cold
3        Very Cold
4        Very Cold
           ...
95680         Warm
95681         Warm
95682         Warm
95683         Warm
95684         Cold
Name: TEMP, Length: 95685, dtype: category
Categories (5, object): ['Very Cold' < 'Cold' < 'Warm' < 'Hot' < 'Very Hot']

In [ ]:
pd.qcut(air_quality['TEMP'], 
        q=5,
        labels=['Very Cold', 'Cold', 'Warm', 'Hot', 'Very Hot']).value_counts()

Hot          19189
Very Cold    19156
Cold         19154
Warm         19143
Very Hot     19043
Name: TEMP, dtype: int64

In [ ]:
air_quality['TEMP_category'] = pd.qcut(air_quality['TEMP'], 
                                       q=5,
                                       labels=['Very Cold', 'Cold', 'Warm', 'Hot', 'Very Hot'])

In [ ]:
air_quality[['TEMP', 'TEMP_category']]

,TEMP,TEMP_category
0,-0.5,Very Cold
1,-0.7,Very Cold
2,-2.4,Very Cold
3,-2.5,Very Cold
4,-1.4,Very Cold
...,...,...
95680,15.4,Warm
95681,14.9,Warm
95682,10.8,Warm
95683,10.5,Warm
95684,8.6,Cold

       TEMP TEMP_category
0      -0.5     Very Cold
1      -0.7     Very Cold
2      -2.4     Very Cold
3      -2.5     Very Cold
4      -1.4     Very Cold
...     ...           ...
95680  15.4          Warm
95681  14.9          Warm
95682  10.8          Warm
95683  10.5          Warm
95684   8.6          Cold

[95685 rows x 2 columns]

In [35]:
air_quality.to_pickle('air_quality.pkl')

# Mapping to new values

In [36]:
import pandas as pd
air_quality = pd.read_pickle('air_quality.pkl')

In [37]:
air_quality['day_of_week_name']

In [40]:
air_quality['day_of_week_name'].value_counts()

In [41]:
day_of_week_mapping = {
    'Monday': 'Weekday', 
    'Tuesday': 'Weekday',
    'Wednesday': 'Weekday',
    'Thursday': 'Weekday',
    'Friday': 'Weekday',
    'Saturday': 'Weekend',
    'Sunday': 'Weekend'
}
air_quality['day_of_week_name'].map(arg=day_of_week_mapping)

In [42]:
air_quality['day_of_week_name'].map(day_of_week_mapping).value_counts()

In [43]:
air_quality['day_of_week_name'].value_counts()

In [ ]:
# air_quality['day_of_week_name']=air_quality['day_of_week_name'].map(day_of_week_mapping)

In [44]:
air_quality['day_of_week_name'].map(len)

In [45]:
air_quality['time_until_2022_days']

In [46]:
air_quality['time_until_2022_days'].map(int)

In [47]:
air_quality['day_of_week_name'].map(lambda day: 'Weekend' if day in ['Saturday', 'Sunday'] else 'Weekday')

In [48]:
def weekday_weekend(day):
    if day in ['Saturday', 'Sunday']:
        return 'Weekend'
    else:
        return 'Weekday'

In [49]:
air_quality['day_of_week_name'].map(weekday_weekend)

In [50]:
air_quality['wd'].value_counts()

In [51]:
def wd_direction(wd):
    if wd[0] == 'N':
        return 'North'
    elif wd[0] == 'S':
        return 'South'
    elif wd[0] == 'E':
        return 'East'
    else:
        return 'West'

In [52]:
air_quality['wd'].map(wd_direction)

In [53]:
air_quality['wd'].map(wd_direction).value_counts()

# Applying functions

In [54]:
import pandas as pd
air_quality = pd.read_pickle('air_quality.pkl')

In [55]:
air_quality[['PM2.5', 'PM10']]

,PM2.5,PM10
0,9.0,9.0
1,4.0,4.0
2,4.0,4.0
3,5.0,5.0
4,3.0,6.0
...,...,...
95680,9.0,9.0
95681,10.0,29.0
95682,18.0,32.0
95683,15.0,42.0
95684,15.0,50.0

In [56]:
air_quality[['PM2.5', 'PM10']].apply('mean')

In [ ]:
air_quality[['PM2.5', 'PM10']].apply('mean', axis=0)

PM2.5     83.477884
PM10     111.899959
dtype: float64

In [57]:
air_quality[['PM2.5', 'PM10']].apply('mean', axis=1)

In [58]:
air_quality[['PM2.5', 'PM10']].mean()

In [ ]:
air_quality[['PM2.5', 'PM10']].mean(axis=1)

0         9.0
1         4.0
2         4.0
3         5.0
4         4.5
         ...
95680     9.0
95681    19.5
95682    25.0
95683    28.5
95684    32.5
Length: 95685, dtype: float64

In [59]:
def pm_ratio(row):
    return row['PM2.5']/row['PM10']

air_quality.apply(pm_ratio, axis=1)

In [60]:
air_quality.apply(lambda row: row['PM2.5']/row['PM10'], axis=1)

In [61]:
air_quality['PM2.5']/air_quality['PM10']

In [ ]:
# Add new column to air_quality: 'Go outside', 'Stay inside'
# based on PM2.5_category, TEMP_category, RAIN

In [65]:
def activity_decision(pm25_category, temp_category, rain):
    if pm25_category in ['Good', 'Moderate'] and temp_category in ['Warm', 'Hot'] and rain == 0:
        return 'Go outside'
    else:
        return 'Stay inside'

In [70]:
air_quality['activity'] = air_quality.apply(lambda row: activity_decision(row['PM2.5'], row['TEMP'], row['RAIN']), axis=1)

In [72]:
air_quality[['activity', 'PM2.5', 'TEMP', 'RAIN']]

,activity,PM2.5,TEMP,RAIN
0,Stay inside,9.0,-0.5,0.0
1,Stay inside,4.0,-0.7,0.0
2,Stay inside,4.0,-2.4,0.0
3,Stay inside,5.0,-2.5,0.0
4,Stay inside,3.0,-1.4,0.0
...,...,...,...,...
95680,Stay inside,9.0,15.4,0.0
95681,Stay inside,10.0,14.9,0.0
95682,Stay inside,18.0,10.8,0.0
95683,Stay inside,15.0,10.5,0.0
95684,Stay inside,15.0,8.6,0.0

In [73]:
air_quality['activity'].value_counts(normalize=True)