What are Dataframes?
- Dataframe is a 2-dimensional labeled data structure with columns of potentially different types. Same as a Spredsheet or SQL Table.
- axis = 0 refers to index
- axis = 1 refers to columns

In [4]:
import pandas as pd

In [5]:
data = {'a': [100, 200, 300], 'b': [400, 500, 600], 'c': [700, 800, 900]}
df = pd.DataFrame(data=data)
df

,a,b,c
0,100,400,700
1,200,500,800
2,300,600,900

In [6]:
df['a']

In [7]:
df = pd.DataFrame(data=[[100, 200, 300], [400, 500, 600], [700, 800, 900]],
                  index=['first', 'second', 'third'],
                  columns=['a', 'b', 'c'])
df

,a,b,c
first,100,200,300
second,400,500,600
third,700,800,900

In [8]:
df.a

Dataframe attributes

In [10]:
richest = pd.read_csv('TopRichestInWorld.csv')
richest

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [11]:
richest.shape

(101, 6)

In [12]:
richest.size

606

In [13]:
richest.index

RangeIndex(start=0, stop=101, step=1)

In [14]:
richest.columns

Index(['Name', 'NetWorth', 'Age', 'Country/Territory', 'Source', 'Industry'], dtype='object')

In [15]:
richest.axes

[RangeIndex(start=0, stop=101, step=1),
 Index(['Name', 'NetWorth', 'Age', 'Country/Territory', 'Source', 'Industry'], dtype='object')]

In [16]:
richest.dtypes