In [38]:
import pandas as pd

In [54]:
data = {'a': [1, 2, 3, 4, None],
        'b': [5, None, 6, 7, None],
        'c': [9, None, 10, 11, None],
        'd': [13, 14, 15, 16, None],
        'e': [None, None, None, None, None]}
df = pd.DataFrame(data)
df

,a,b,c,d,e
0,1.0,5.0,9.0,13.0,None
1,2.0,NaN,NaN,14.0,None
2,3.0,6.0,10.0,15.0,None
3,4.0,7.0,11.0,16.0,None
4,NaN,NaN,NaN,NaN,None

In [55]:
df.drop(columns='e', inplace=True)
df

,a,b,c,d
0,1.0,5.0,9.0,13.0
1,2.0,NaN,NaN,14.0
2,3.0,6.0,10.0,15.0
3,4.0,7.0,11.0,16.0
4,NaN,NaN,NaN,NaN

In [56]:
df.dropna()

,a,b,c,d
0,1.0,5.0,9.0,13.0
2,3.0,6.0,10.0,15.0
3,4.0,7.0,11.0,16.0

In [57]:
df.dropna(axis=0) # Removes all the rows that contain a NaN

,a,b,c,d
0,1.0,5.0,9.0,13.0
2,3.0,6.0,10.0,15.0
3,4.0,7.0,11.0,16.0

In [58]:
df.dropna(axis=1) # Removes all the columns that contain a NaN

""
0
1
2
3
4

In [59]:
df.dropna(axis=0, how='all') # how='any' is the DEFAULT

,a,b,c,d
0,1.0,5.0,9.0,13.0
1,2.0,NaN,NaN,14.0
2,3.0,6.0,10.0,15.0
3,4.0,7.0,11.0,16.0