In [38]:
import pandas as pd

In [60]:
data = {'a': [1, 2, 3, None],
        'b': [5, None, 7, 8],
        'c': [9, None, 11, None],
        'd': [13, 14, None, 16],
        }
df = pd.DataFrame(data)
df

,a,b,c,d
0,1.0,5.0,9.0,13.0
1,2.0,NaN,NaN,14.0
2,3.0,7.0,11.0,NaN
3,NaN,8.0,NaN,16.0

In [61]:
df.fillna(method='ffill')

,a,b,c,d
0,1.0,5.0,9.0,13.0
1,2.0,5.0,9.0,14.0
2,3.0,7.0,11.0,14.0
3,3.0,8.0,11.0,16.0

In [62]:
df.fillna(method='bfill')

,a,b,c,d
0,1.0,5.0,9.0,13.0
1,2.0,7.0,11.0,14.0
2,3.0,7.0,11.0,16.0
3,NaN,8.0,NaN,16.0