Series is a one-dimensional labeled array capable of holding any data type(integers, strings, floating point numbers, Python objects, etc.) The axis labels are collectively refered to as the index.

In [10]:
import pandas as pd

In [11]:
numbers = [1, 2, 3, 4, 5]

In [12]:
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
letters = ['a', 'b', 'c', 'd', 'e']

In [14]:
pd.Series(letters)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [15]:
pd.Series(data=letters, index=numbers)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [16]:
pd.Series(data=letters, index=['letter1', 'letter2', 'letter3', 'letter4', 'letter5'])

letter1    a
letter2    b
letter3    c
letter4    d
letter5    e
dtype: object

In [19]:
data = {'name': 'Luigi', 'age': 26, 'work': 'unemployed'}

In [20]:
pd.Series(data=data)

name         Luigi
age             26
work    unemployed
dtype: object