In [43]:
import pandas as pd

In [44]:
richest = pd.read_csv('TopRichestInWorld.csv', usecols=['Name']).squeeze()

In [49]:
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [50]:
richest.sort_values(axis=0, ascending=True, kind='quicksort', na_position='last', ignore_index=True, inplace=False)

0           Abigail Johnson
1          Alain Wertheimer
2              Alice Walton
3            Amancio Ortega
4            Andrew Forrest
               ...
96           Warren Buffett
97         William Lei Ding
98     Yang Huiyan & family
99             Zhang Yiming
100          Zhong Shanshan
Name: Name, Length: 101, dtype: object

In [51]:
richest.sort_index(ascending=False, ignore_index=True, inplace=False)

0                     Peter Woo
1            Luo Liguo & family
2                  Sun Piaoyang
3          Harold Hamm & family
4              Vladimir Potanin
                 ...
96               Warren Buffett
97                   Bill Gates
98     Bernard Arnault & family
99                   Jeff Bezos
100                   Elon Musk
Name: Name, Length: 101, dtype: object